nav {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  padding-right: 11px;
  padding-top: 12px;
}

a {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  text-decoration: none;
  margin: 6px;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.adv_bar {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

body,
input,
button {
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
}

main {
  width: 100%;
  /* height: 100vh; */
  /* align-self: center; */
}
form {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo-img {
  display: block;
  margin: 2% auto;
}

form p {
  font-size: 16px;
  /* font-weight: 500; */
}
#adv_search {
  display: flex;
  align-items: baseline;
  margin: 40px 2% 0 45px;
}
.search_bar {
  padding-left: 20px;
  text-rendering: auto;
  background: transparent;
  outline: none;
  font-size: 16px;
  border: 0.06rem solid #d2d2d2;
  border-radius: 5em;
  min-height: 3rem;
  box-shadow: 0px 0px 3px 0.5px rgba(64, 60, 67, 0.24);
  margin-bottom: 2%;
}

.adv_search_btn {
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
  user-select: none;
  line-height: 100%;
  height: 30px;
  min-width: 120px;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin-top: 10px;
}

.specs {
  margin-top: 10px;
  color: #222;
  font-size: 13px;
}

.search_btn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

@media (any-hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 600px) {
  .search_bar {
    width: 80%;
  }
  .logo-img {
    width: 40%;
  }

  .search_bar {
    min-height: 2rem;
  }
}

@media only screen and (min-width: 600px) {
  .search_bar {
    width: 55%;
  }
  .logo-img {
    width: 25%;
  }
}
